USE [master]
GO
/****** Object:  Database [VeShop]    Script Date: 10/30/2021 11:17:43 PM ******/
CREATE DATABASE [VeShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VeShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL2019EXPRESS\MSSQL\DATA\VeShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VeShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL2019EXPRESS\MSSQL\DATA\VeShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VeShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VeShop]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 10/30/2021 11:17:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrder]    Script Date: 10/30/2021 11:17:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrder](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](50) NULL,
	[OrderDate] [smalldatetime] NULL,
	[Address] [nvarchar](250) NOT NULL,
	[IsEnable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrderDetail]    Script Date: 10/30/2021 11:17:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetail](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_tblOrderDetail] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 10/30/2021 11:17:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblProduct](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Image] [varchar](200) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[CategoryID] [int] NULL,
 CONSTRAINT [PK__tblProdu__B40CC6ED157D301E] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRole]    Script Date: 10/30/2021 11:17:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRole](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__tblRole__8AFACE3A35AB3F6E] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 10/30/2021 11:17:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK__tblUser__1788CCAC94EA4ED8] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([CategoryID], [CategoryName]) VALUES (1, N'Leafy green')
INSERT [dbo].[tblCategory] ([CategoryID], [CategoryName]) VALUES (2, N'Cruciferous')
INSERT [dbo].[tblCategory] ([CategoryID], [CategoryName]) VALUES (3, N'Allium')
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblOrder] ON 

INSERT [dbo].[tblOrder] ([OrderID], [UserID], [OrderDate], [Address], [IsEnable]) VALUES (1, N'SE151335', CAST(N'2021-08-24T11:59:00' AS SmallDateTime), N'420G Bui Dinh Tuy, Ward 24', 1)
INSERT [dbo].[tblOrder] ([OrderID], [UserID], [OrderDate], [Address], [IsEnable]) VALUES (4, N'SE151335', CAST(N'2021-08-24T12:07:00' AS SmallDateTime), N'94 Highway 30', 1)
INSERT [dbo].[tblOrder] ([OrderID], [UserID], [OrderDate], [Address], [IsEnable]) VALUES (5, N'104948790975953911821', CAST(N'2021-08-24T12:18:00' AS SmallDateTime), N'F1802b, M3-m4 Building, 91 Nguyen Chi Thanh', 1)
SET IDENTITY_INSERT [dbo].[tblOrder] OFF
GO
SET IDENTITY_INSERT [dbo].[tblOrderDetail] ON 

INSERT [dbo].[tblOrderDetail] ([DetailID], [OrderID], [ProductID], [Quantity]) VALUES (1, 1, 2, 1)
INSERT [dbo].[tblOrderDetail] ([DetailID], [OrderID], [ProductID], [Quantity]) VALUES (2, 4, 1, 1)
INSERT [dbo].[tblOrderDetail] ([DetailID], [OrderID], [ProductID], [Quantity]) VALUES (3, 5, 8, 2)
SET IDENTITY_INSERT [dbo].[tblOrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[tblProduct] ON 

INSERT [dbo].[tblProduct] ([ProductID], [ProductName], [Image], [Quantity], [Price], [CategoryID]) VALUES (1, N'Rau diếp', N'https://santorino.org/wp-content/uploads/2020/05/Mini-cos-lettuce-1800-x-1800-e1590316929623.jpg', 70, 10000, 1)
INSERT [dbo].[tblProduct] ([ProductID], [ProductName], [Image], [Quantity], [Price], [CategoryID]) VALUES (2, N'Rau Bina', N'https://www.hoidaubepaau.com/wp-content/uploads/2019/12/rau-spinach-la-rau-gi.jpg', 40, 12000, 1)
INSERT [dbo].[tblProduct] ([ProductID], [ProductName], [Image], [Quantity], [Price], [CategoryID]) VALUES (3, N'Cải cầu vồng', N'https://hstatic.net/791/1000069791/1/2016/2-24/cai-cau-vong_master.jpg', 50, 8000, 1)
SET IDENTITY_INSERT [dbo].[tblProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRole] ON 

INSERT [dbo].[tblRole] ([RoleID], [RoleName]) VALUES (1, N'Customer')
INSERT [dbo].[tblRole] ([RoleID], [RoleName]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[tblRole] OFF
GO
INSERT [dbo].[tblUser] ([UserID], [Name], [Password], [RoleID]) VALUES (N'104948790975953911821', N'Tester1', N'123456789', 1)
INSERT [dbo].[tblUser] ([UserID], [Name], [Password], [RoleID]) VALUES (N'108647748802751401403', N'Tester2', N'123456789', 1)
INSERT [dbo].[tblUser] ([UserID], [Name], [Password], [RoleID]) VALUES (N'109737134661024912011', N'Tester3', N'123456789', 1)
GO
/****** Object:  Index [IX_tblOrderDetail]    Script Date: 10/30/2021 11:17:43 PM ******/
ALTER TABLE [dbo].[tblOrderDetail] ADD  CONSTRAINT [IX_tblOrderDetail] UNIQUE NONCLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblOrder] ADD  DEFAULT ((1)) FOR [IsEnable]
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD  CONSTRAINT [FK__tblOrder__UserID__34C8D9D1] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUser] ([UserID])
GO
ALTER TABLE [dbo].[tblOrder] CHECK CONSTRAINT [FK__tblOrder__UserID__34C8D9D1]
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__tblOrderD__Order__35BCFE0A] FOREIGN KEY([OrderID])
REFERENCES [dbo].[tblOrder] ([OrderID])
GO
ALTER TABLE [dbo].[tblOrderDetail] CHECK CONSTRAINT [FK__tblOrderD__Order__35BCFE0A]
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK__tblOrderD__Produ__36B12243] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProduct] ([ProductID])
GO
ALTER TABLE [dbo].[tblOrderDetail] CHECK CONSTRAINT [FK__tblOrderD__Produ__36B12243]
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD  CONSTRAINT [FK__tblProduc__Categ__37A5467C] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tblCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[tblProduct] CHECK CONSTRAINT [FK__tblProduc__Categ__37A5467C]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK__tblUser__RoleID__38996AB5] FOREIGN KEY([RoleID])
REFERENCES [dbo].[tblRole] ([RoleID])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK__tblUser__RoleID__38996AB5]
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD  CONSTRAINT [CHK_ProductDetailQuantity] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[tblOrderDetail] CHECK CONSTRAINT [CHK_ProductDetailQuantity]
GO
ALTER TABLE [dbo].[tblProduct]  WITH CHECK ADD  CONSTRAINT [CHK_ProductQuantity] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[tblProduct] CHECK CONSTRAINT [CHK_ProductQuantity]
GO
USE [master]
GO
